/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	/* color */
	/* color:hsl(42, 86%, 56%); */
	/* color:hsl(45, 98%, 68%); */
	--header-height: 3rem;
	--hue-color: 45;
	/* --first-color:hsl(var(--hue-color), 86%, 56%); */
	--first-color: hsl(var(--hue-color), 86%, 56%);
	--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--first-color-second: hsl(var(--hue-color), 86%, 56%);
	/* --first-color: hsl(var(--hue-color), 69%, 61%); */
	--body-color: hsl(var(--hue-color), 60%, 99%);

	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--small-font-size: 0.813rem;
	--paragraph-font-size: 0.75rem;

	--font-semi-bold: 600;
	--font-medium: 500;

	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 10%);

	/* Margin */
	--mb-0-25: 0.25rem;
	--mb-0-75: 0.75rem;
	--mb-0-5: 0.5rem;
	--mb-3: 3rem;
	--mb-2: 2rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
}
/* dark Theme */
body.dark-theme {
	/* HSL color mode */
	--first-color-second: hsl(var(--hue-color), 30%, 8%);
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--text-color: hsl(var(--hue-color), 8%, 75%);
	--input-color: hsl(var(--hue-color), 29%, 16%);
	--body-color: hsl(var(--hue-color), 28%, 12%);
	--container-color: hsl(var(--hue-color), 29%, 16%);
	--scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}
.uil-apps,
.change-theme {
	color: var(--title-color);
	cursor: pointer;
	font-size: 1.25rem;
}
.change-theme {
	margin-right: var(--mb-1);
}
.change-theme:hover {
	fill: var(--first-color);
}

.nav--menu:hover {
	fill: var(--first-color);
}
.nav__toggle {
	align-items: center;
	display: flex;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--body-color);
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

ul {
	display: contents;
	list-style-type: none;
}
.grid {
	display: grid;
	gap: 1.5rem;
}
.container {
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
	/* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
	max-width: 768px;
}
.home__section {
	align-items: center;
	/* grid-template-columns: repeat(auto-fill,minmax(min(100%,15rem),1fr)); */
	/* ? auto-FIT => te rellena todo el espacio*/
	/* grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr)); */
	/* grid-template-columns: repeat(auto-fit,minmax(15rem,1fr)); */

	display: grid;
	/* margin: auto; */

	/* grid-template-columns: 0.5fr 3fr; */
	padding-top: 3.5rem;
}

.home__scroll-button:hover {
	transform: translateY(0.25rem);
}
.home__scroll-button {
	color: var(--first-color);
	transition: 0.3s;
}
.iam__luis {
	border-radius: red;
	fill: var(--first-color);
	width: 175px;
}
h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

p {
	margin-bottom: var(--mb-2);
}
a {
	text-decoration: none;
}
img {
	height: auto;
	max-width: 100%;
}
span {
	display: block;
}
.article__title {
	font-size: var(--big-font-size);
}
.article__subtitle {
	color: var(--text-color);
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-0-75);
}
.iam__luis-img {
	/* width: 100%; */

	width: 170px;
}
.icons {
	justify-self: start;
	/* color:var(--first-color); */
}
.about {
	grid-column: 1/3;
}

.icons ul li {
	padding: 0.6rem 0;
}

.btn {
	background-color: var(--first-color);
	border-radius: 0.5rem;
	color: #fff;
	font-weight: var(--font-medium);
	padding: 1rem;
}
.btn--svg {
	fill: var(--first-color);
}
/* svg{

	font-size: 1.2rem;
} */
.nav--btn {
	font-size: 1.2rem;
}
.btn--icon {
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
}
.uil-btn {
	color: var(--first-color);
	font-size: 1.25rem;
}
.btn--flex {
	align-items: center;
	/* ocupe lo justo y necesario */
	display: inline-flex;
}
.home__scroll-mouse {
	font-size: var(--big-font-size);
}
.home__scroll-name {
	color: var(--title-color);
	font-size: var(--small-font-size);
	font-weight: var(--font-medium);
	margin-right: var(--mb-0-25);
}

/**------------------------------------------------------------------------
 *!                           HEADER
 *------------------------------------------------------------------------**/
.header {
	background-color: var(--body-color);
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.scroll-header {
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
}
.nav {
	align-items: center;
	display: flex;
	height: 3rem;
	justify-content: space-between;
	max-width: 968px;
}
.nav__logo {
	color: var(--title-color);
	font-weight: var(--font-medium);
}
.nav__btns {
	align-items: center;
	display: flex;
	fill: var(--title-color);
}

.show-menu {
	bottom: 0;
}
.nav__list {
	grid-template-columns: repeat(3, 1fr);
	/* gap: 2rem; */
}
.nav__link {
	align-items: center;
	color: var(--title-color);
	display: flex;
	flex-direction: column;
	fill: var(--title-color);
	font-size: var(--small-font-size);
	font-weight: var(--font-medium);
}
.active-link {
	color: var(--first-color);
	fill: var(--first-color);
}
.nav__close {
	color: var(--first-color);
	cursor: pointer;
	font-size: var(--h1-font-size);
	position: absolute;
	right: 1.3rem;
}

/**------------------------------------------------------------------------
 *                             ! ABOUT ME
 *  
 *  
 *  
 *  
 *------------------------------------------------------------------------**/
#about,
#main,
#skills,
#portfolio {
	padding: 2rem 0 4rem;
	/* background-color: rgba(192, 134, 134, 0.212); */
}

.section__title {
	font-size: var(--h1-font-size);
	text-align: center;
}
.section__subtitle {
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-3);
	text-align: center;
}

.about__img {
	border-radius: 0.5rem;
	/* center image grid */
	justify-self: center;
	/* width: 200px; */
}
.about__description,
.about__info {
	text-align: center;
}
.about__info {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--mb-3);
}
.about__info-title {
	color: var(--title-color);
	display: block;
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
}
.about__info-name {
	font-size: var(--paragraph-font-size);
}

.about__cv {
	display: flex;
	justify-content: center;
}

/**------------------------------------------------------------------------
 *                             SKILLS
 *  
 *  
 *  
 *  
 *------------------------------------------------------------------------**/

.skills__header {
	align-items: center;
	cursor: pointer;
	display: flex;
	margin-bottom: var(--mb-3);
}
.skill__title {
	font-size: var(--h3-font-size);
}
.skill__subtitle {
	font-size: var(--small-font-size);
}
span.skills__subtitle {
	display: inline;
}
.skills__header__left {
	text-align-last: left;
}
.skills__open .skills__arrow {
	transform: rotate(-180deg);
}
.skills__arrow {
	margin-left: auto;
	transition: 0.4s;
}

.skills__title {
	display: flex;
	justify-content: space-between;
}

.skills__bar,
.porcentaje {
	border-radius: 0.25rem;
	height: 5px;
}
.porcentaje {
	background-color: var(--first-color);
	opacity: 0;
}
.skills__bar {
	background-color: var(--first-color-lighter);
}
.skills__html {
	width: 100%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__js {
	width: 80%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}

.skills__css {
	background-color: var(--first-color);
	opacity: 0;
	width: 90%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__sass {
	width: 60%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__bootstrap {
	width: 100%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__tailwind {
	width: 80%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__react {
	width: 60%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__git {
	width: 80%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__figma {
	width: 60%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__xd {
	width: 60%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}
.skills__photoshop {
	width: 50%;
	animation: progress 5s forwards;
	-webkit-animation: progress 5s forwards;
}

/**-----------------------
 *       SLIDER
 *  
 *  
 *------------------------**/
.carrusel {
	display: grid;
	grid-template-columns: auto 1fr auto;
	width: 90%;
	max-width: 120em;
	/* background-color: lightskyblue; */
	margin: auto;
	/* margin: 10px; */
	/* padding: 2em; */
	overflow: hidden;
}
.carrusel .grande {
	align-items: center;
	/* background-color: orange; */

	/* padding: 2em; */
	display: flex;
	justify-content: space-between;
	transform: translate(0%);

	transition: all 0.5 ease;
	width: 200%;
	overflow: hidden;
}
.carrusel .img {
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	padding: 1.5em;
	/*min-width: calc(50% / 2);
	*/
	width: 265px;
	min-height: 10vh;
	overflow: hidden;
}

.carrusel .puntos {
	display: flex;
	grid-column: 2/3;
	justify-content: center;
	padding: 1em;
	padding: 0.4em;
	width: 100%;
}
.carrusel .punto {
	background-color: var(--text-color);
	border-radius: 2em;
	height: 10px;
	width: 10px;
	margin: 0.2em;
}
.punto.activo {
	background-color: var(--first-color);
}
.arrowLeft,
.arrowRig {
	align-items: center;
	background-color: var(--body-color);
	cursor: pointer;
	/* justify-self: center; */
	display: grid;
	fill: var(--first-color);
	z-index: 1;
}

.tituloParrafo {
	display: contents;
	text-align: center;
}

/**----------------------------------------------
 *                CONTACT
 *  
 *  
 *  
 *  
 *---------------------------------------------**/

.contact__container {
	row-gap: 3rem;
	padding-bottom: 3rem;
}
.contact__talk {
	display: grid;
	gap: 1rem;
}
.contact__talk--data {
	display: block;
	margin-bottom: 0.75rem;
}
.contact__talk__info {
	/* background-color: rgb(31, 78, 59); */
	/* background-color: var(--body-color); */
	border-radius: 0.75rem;
	-webkit-border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	-ms-border-radius: 0.75rem;
	-o-border-radius: 0.75rem;
	text-align: center;
}
.contact__talk--link {
	color: var(--first-color);
	column-gap: 0.25rem;
}

.contact__arrow {
	fill: var(--first-color);
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}
.contact__talk--link:hover .puntito {
	transform: translateX(0.25rem);
	-webkit-transform: translateX(0.25rem);
	-moz-transform: translateX(0.25rem);
	-ms-transform: translateX(0.25rem);
	-o-transform: translateX(0.25rem);
}

.contact__form--section {
	height: 4rem;
	margin-bottom: 2rem;
	position: relative;
}
.contact__form--tag {
	color: var(--title-color);
	position: absolute;
	top: -1rem;
	left: 1.25rem;
	padding: .2rem;
	background-color: var(--body-color);
	z-index: 2;
}
.contact__form--input {
	border: 2px solid var(--text-color);
	border-radius: 0.75rem;
	-webkit-border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	-ms-border-radius: 0.75rem;
	-o-border-radius: 0.75rem;
	color: var(--text-color);
	height: 100%;
	left: 0;
	padding: 1.5rem;
	position: absolute;
	top: 0;
	width: 100%;
	background: none;
	outline: none;
	font-family:var(--body-font);
}
.contact__form--area{
	height: 10rem;
}
.contact__form--area textarea {
	resize: none;
}
#submit{
	cursor: pointer;
}
@keyframes progress {
	0% {
		opacity: 1;
		width: 0%;
	}
	100% {
		opacity: 1;
	}
}

.skills__close .skills__list {
	height: 0;
	overflow: hidden;
}

.skills__open .skills__list {
	height: max-content;
	margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
	transform: rotate(-180deg);
}

@media screen and (max-width: 375px) {
	.home__section {
		/* grid-column:1/2; */
		/* grid-row: 1/3; */
		/* padding-top:3.5rem; */
	}
	.about {
		text-align: left;
	}
	/* .tituloParrafo {
		display: block;
	} */
	.puntito {
		height: 24px;
		width: 24px;
	}
}
@media screen and (max-width:480px){
	.tituloParrafo{
		display: block;
	}.about__img{
		width: 250px;
	}
}
@media screen and (min-width: 568px) {
	.home__section {
		grid-template-columns: auto 1fr 1fr;
	}
	.about {
		grid-column: auto;
		/* padding: 0 3rem 0 3rem; */
	}
	.iam {
		justify-self: center;
		order: 1;
	}
	.about__container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 767px) {
	.nav__menu {
		background-color: var(--body-color);
		/* border-top - left & right */
		border-radius: 1.5rem 1.5rem 0 0;
		/*  x=0, y = 3px */
		box-shadow: 0 -3px 3px 1px rgba(48, 48, 48, 0.15);
		bottom: -100%;
		left: 0;
		padding: 2rem 1.5rem 3rem;
		position: fixed;
		transition: 0.3s;
		width: 100%;
	}
	.show-menu {
		bottom: 0;
	}
}
@media screen and (min-width: 768px) {
	.nav {
		height: calc(var(--header-height) + 1.5rem);
		column-gap: 1rem;
	}
	.nav--btn {
		display: none;
	}
	.nav__list {
		display: flex;
		gap: 2rem;
	}
	.header {
		bottom: initial;
		top: 0;
	}
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	.nav__toggle {
		display: none;
	}
	.nav__close {
		display: none;
	}
	.carrusel .img {
		width: 320px;
	}
	.ptito {
		margin: 0 3rem;
	}
}
@media screen and (min-width: 1024px) {
	.icons {
		transform: translateX(-6rem);
	}
	.home {
		padding: 6rem 0 2rem;
	}
}
